<%- include('header', {title: title, auth: auth}) -%>

<h1 xmlns="http://www.w3.org/1999/html">Add a new portfolio item</h1>
<form enctype="multipart/form-data" method="post">
    <fieldset>
        <div class="form-group">
            <label for="user">Select User</label>
            <select name="user" class="form-control"/>
                <% users.forEach(function(user) { %>
                    <option value=<%= user.id %>><%= user.email %></option>
                <% }); %>
            </select>
        </div>
        <div class="form-group">
            <label for="title">Title</label>
            <input name="title" type="text" class="form-control"/>
        </div>
        <div class="form-group">
            <label for="link">Link</label>
            <input name="link" type="text" class="form-control"/>
        </div>
        <div class="form-group">
            <label for="url_slug">Url Slug</label>
            <input name="url_slug" type="text" class="form-control"/>
        </div>
        <div class="form-group">
            <label for="description_short">Short Description</label>
            <textarea name="description_short" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <label for="description">Long Description</label>
            <textarea name="description" class="form-control"></textarea>
        </div>
        <div class="form-group">
            <label for="tags">Tags</label>
            <select multiple name="tags" class="form-control" style="min-height: 325px;">
                <%- tags.map(function(tag) {
                    return `<option value=${tag}>${tag}</option>`;
                }).join('');
                %>
            </select>
        </div>

        <div class="form-group">
            <div><strong>Main Image</strong></div>
            <div class="main-image-picker form-group">
                <div class="input-group">
                    <label class="input-group-btn">
                    <span class="btn btn-primary">
                        Browse&hellip; <input type="file" name="main_image" style="display: none;">
                    </span>
                    </label>
                    <input type="text" class="form-control" readonly>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div><strong>Mobile Image</strong></div>
            <div class="mobile-image-picker form-group">
                <div class="input-group">
                    <label class="input-group-btn">
                    <span class="btn btn-primary">
                        Browse&hellip; <input type="file" name="image_mobile" style="display: none;">
                    </span>
                    </label>
                    <input type="text" class="form-control" readonly>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div><strong>Gallery</strong></div>
            <div class="gallery-images-picker form-group">
                <div class="input-group">
                    <label class="input-group-btn">
                    <span class="btn btn-primary">
                        Browse&hellip; <input type="file" name="gallery_images" style="display: none;" multiple>
                    </span>
                    </label>
                    <input type="text" class="form-control" readonly>
                </div>
            </div>
        </div>
    </fieldset>
    <button type="submit" class="btn btn-primary">Save</button><a href="/admin/portfolio" class="btn btn-default">Cancel</a>
</form>

<%- include('footer') -%>