<%- include('header') -%>

<h1>Chat Rooms:</h1>
<div><a href="rooms/add">
        <button class="btn btn-primary">Add new chat room</button></a></div><br/><br/>
<table class="table table-striped table-responsive">
    <tbody>
    <tr>
        <th>&nbsp;</th>
        <th>room</th>
        <th>&nbsp;</th>
        <th>id</th>
    <% rooms.forEach(function(room) { %>
    <tr>
        <td style="width:px">
            <a href="/admin/rooms/delete/<%= room.id %>"><span class="glyphicon glyphicon-remove"></span></a>
        </td>
        <td><%= room.name %></td>
        <td style="width:px">
            <a href="/admin/rooms/edit/<%= room.id %>"><span class="glyphicon glyphicon-pencil"></span></a></td>
        <td><%= room.id %></td>
    </tr>
    <% }); %>
    </tr>
    </tbody>
</table>

<%- include('footer') -%>